   {% include 'base/header.html.twig' %}
    <div class = "container">
     
             {% block body %}
                <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Homepage</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Edit task {{task.id}} </li>
                </ol>
                </nav>

                {{form_start(form)}}
                {{form_widget(form)}}
                {{form_end(form)}}

             {% endblock %}
             
     
   
        {% include 'base/footer.html.twig' %}
    </div>
