{% extends 'base.html.twig' %}
{% block body %}
    <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Priority</th>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Date</th>
      <th scope="col">Deadline</th>
      <th scope="col">Remaining time</th>
      <th scope="col">Edit</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><i class="fas fa-fire fa-2x"></i></td>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>12:35:60</td>
       <td>
           <button type="button" class="btn btn-success show">show <i class="fas fa-eye"></i></button>
          <button type="button" class="btn btn-primary edit">edit <i class="far fa-edit"></i></button>
          <button type="button" class="btn btn-danger delete">delete <i class="far fa-trash-alt"></i></button>
      </td>
    </tr>
    <tr>
      <td><i class="fas fa-fire fa-2x"></i></td>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
      <td>12:35:60</td>
       <td>
           <button type="button" class="btn btn-success show">show <i class="fas fa-eye"></i></button>
          <button type="button" class="btn btn-primary edit">edit <i class="far fa-edit"></i></button>
          <button type="button" class="btn btn-danger delete">delete <i class="far fa-trash-alt"></i></button>
      </td>
    </tr>
    <tr>
      <td><i class="fas fa-leaf fa-2x"></td>
      <th scope="row">3</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
      <td>12:35:60</td>
       <td>
          <button type="button" class="btn btn-success show">show <i class="fas fa-eye"></i></button>
          <button type="button" class="btn btn-primary  edit">edit <i class="far fa-edit"></i></button>
          <button type="button" class="btn btn-danger delete">delete <i class="far fa-trash-alt"></i></button>
      </td>
    </tr>
    <tr>
      <td><i class="fas fa-clock fa-2x"></td>
      <th scope="row">4</th>
      <td>Larry the Bird</td>
      <td></td>
      <td>@twitter</td>
      <td>12:35:60</td>
       <td>
          <button type="button" class="btn show">show <i class="fas fa-eye"></i></button>
          <button type="button" class="btn edit">edit <i class="far fa-edit"></i></button>
          <button type="button" class="btn delete">delete <i class="far fa-trash-alt"></i></button>
      </td>
    </tr>

    
    <!--
    <tr>
      <th scope="row">4</th>
     
    </tr>
    -->
  </tbody>
</table>
{% endblock %}

