{% extends 'base/twocolumn.html.twig' %}
{% block body %}


    <div class="col-md-6">
        <canvas id="BarChart" width="400" height="400"></canvas>
    </div>
    <div class="col-md-6">
        <canvas id="LineChart" width="400" height="400"></canvas>
    </div>
   
	
{% endblock %}